#BackgroundStyleColor {
    background-image: linear-gradient(-45deg, rgb(35, 34, 83), rgb(45, 92, 95));
}

#TextTitleSTYLE {
    color: rgb(255, 255, 255);
    font-family: "Zen Dots", sans-serif;
    text-align: center;
    font-size: 70px;
    margin-top: 30px;
    height: 100px;
    width: 800px;
    text-decoration: underline;
    border-bottom: 2px solid white;
}

#BoxStyle1 {
    width: 600px;
    height: 470px;
    background-color: rgb(61, 61, 49);
    border-radius: 10px;
    border: 1px solid rgb(97, 97, 97);
    margin-left: 40px;
    box-shadow: 0 0 10px black inset;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0, 0, 0, 0.493));
    margin-top: 20px;
}

#imgs {
    width: 400px;
    height: 220px;
    margin-top: 20px;
    margin-left: 90px;
    border-radius: 2px;
    outline: 15px solid rgb(26, 26, 26);
    box-shadow: 0 0 19px black;
}

#titlestyleWEB {
    color: white;
    font-family: "Urbanist", sans-serif;
    margin-left: 35px;
    border-radius: 5px;
    width: 345px;
    text-align: left;
    border: 1px solid rgb(153, 153, 153);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.692));
}

#descripcionWEBstyle {
    margin-left: 35px;
    color: white;
    font-family: "Roboto Mono", sans-serif;
    width: 545px;
    height: 135px;
    font-size: 13px;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.219);
    border-radius: 9px;
}

#htmlBOX {
    background-color: tomato;
    color: white;
    border-radius: 10px;
    width: 110px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: auto;
    margin-left: 45px;
    margin-top: -90px;
}

#cssBOX {
    background-color: slateblue;
    color: white;
    border-radius: 10px;
    width: 90px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: auto;
    margin-left: 165px;
    margin-top: -35px;
}

#BoxLink {
    color: white;
    font-family: "BBH Hegarty", sans-serif;
    font-size: 53px;
    text-decoration: none;
}

#BoxLink:hover {
    text-decoration: underline;
    border-bottom: 2px solid white;
}

#boxSTYLElink {
    width: 240px;
    height: 80px;
    background-color: #65d16e;
    color: white;
    border-radius: 1px;
    margin-left: 305px;
    margin-top: -60px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0, 0, 0, 0.493));
    transition: ease 0.34s, background-color 0.2s;
}

#boxSTYLElink:hover {
    background-color: #274729;
    transform: scale(1.13);
    border-radius: 20px;
    box-shadow: 0 0 9px #cfffd3;
}

#fechastyle {
    color: rgb(255, 255, 255);
    font-family: "Syne Mono", sans-serif; 
    margin-top: -45px;
    margin-left: 45px;
    width: 200px;
    font-size: 20px;
    background-color: rgba(126, 147, 190, 0.274);
    border-radius: 7px;
}

#BoxStyle2 {
    width: 600px;
    height: 470px;
    background-color: rgb(49, 61, 50);
    border-radius: 10px;
    border: 1px solid rgb(97, 97, 97);
    margin-left: 660px;
    margin-top: -470px;
    box-shadow: 0 0 10px black inset;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0, 0, 0, 0.493));
}

#BoxStyle3 {
    width: 600px;
    height: 470px;
    background-color: rgb(61, 54, 49);
    border-radius: 10px;
    border: 1px solid rgb(97, 97, 97);
    margin-left: 1280px;
    margin-top: -470px;
    box-shadow: 0 0 10px black inset;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0, 0, 0, 0.493));
}

#BoxStyle4 {
    width: 600px;
    height: 470px;
    background-color: rgb(61, 51, 49);
    border-radius: 10px;
    border: 1px solid rgb(97, 97, 97);
    margin-left: 40px;
    box-shadow: 0 0 10px black inset;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0, 0, 0, 0.493));
    margin-top: 20px;
}

#BoxStyle5 {
    width: 600px;
    height: 470px;
    background-color: rgb(61, 56, 49);
    border-radius: 10px;
    border: 1px solid rgb(97, 97, 97);
    margin-left: 660px;
    margin-top: -470px;
    box-shadow: 0 0 10px black inset;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0, 0, 0, 0.493));
}

#BoxStyle6 {
    width: 600px;
    height: 470px;
    background-color: rgb(49, 61, 60);
    border-radius: 10px;
    border: 1px solid rgb(97, 97, 97);
    margin-left: 1280px;
    margin-top: -470px;
    box-shadow: 0 0 10px black inset;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0, 0, 0, 0.493));
}