.span-websites {
    color: springgreen;
}

.title-website-top {
    font-family: "Fahkwang", sans-serif;
    text-align: center;
}

.p-top-websites {
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2px;
    text-align: center
}

.AIRE {
    width: 100%;
    height: 20px;
}

#body {
    color: white; background-color: #121212; padding: 12px; padding-top: 0; font-family: 'Barlow Condensed', sans-serif;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(img/wavy_background_4.png);
    background-repeat: no-repeat;
    background-size: 125rem;
    background-attachment: fixed;
}

.div-box {
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.527);
    text-align: center;
    padding: 22px;
    width: 360px;
    border-radius: 6px;
    margin: 16px;
}

#seccion-divs-box {
    display: inline-flex;
    padding-left: 55px;
    width: 1807px;
}

.name-website {
    color: white;
    font-family: "Fahkwang", sans-serif;
    -webkit-text-stroke: 12px rgba(255, 255, 255, 0.041);
}

.html-span {
    background-color: #E34F26;
    padding: 2px;
    font-family: "Montserrat";
    margin: 4px;
    height: max-content;
}

.css-span {
    background-color: #2D53E5;
    padding: 2px;
    font-family: "Montserrat";
    margin: 4px;
    height: max-content;
}

.keyframes-span {
    background-color: #9F6EA4;
    padding: 2px;
    font-family: "Roboto Mono";
    font-size: 14px;
    margin: 4px;
    height: max-content;
}

.hover-span {
    background-color: #cc904b;
    padding: 2px;
    font-family: "Oswald";
    font-weight: 700;
    font-size: 12.5px;
    margin: 4px;
    height: max-content;
}

.js-span {
    background-color: #ffd103;
    color: black;
    padding: 2px;
    font-family: "Montserrat";
    margin: 4px;
    height: max-content;
}

.link-website {
    background-color: white;
    color: black;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid black;
    outline: 3px solid white;
    text-decoration: none;
    font-family: "Chivo Mono";
    border-radius: 16px;
}

.link-website:hover {
    background-color: #d6d6d6;
}

.link-website:active {
    background-color: white;
}

.seccion-divs-box-sub {
    background-color: transparent;
}